    // Footer
    .footer {
        background-color: var(--white-color);
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
        position: relative;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: var(--primary-color);
        font-family: "GilroyRegular";
        font-size: 1rem;
        @media only screen and (max-width: 900px) {
            font-size: 0.7rem;
            padding-bottom: 0px;
        }
    }
    
    .footer-col {
        width: 25%;
        padding: 0 15px;
        .footer-mindto-logo {
            margin-top: 30px;
            img {
                height: 45px;
                @media only screen and (max-width: 900px) {
                    height: 35px;
                }
                color: var(--secondary-color);
            }
        }
    }
    
    .footer-col h4 {
        font-size: 1.2rem;
        color: var(--primary-color);
        margin-bottom: 5px;
        margin-top: 30px;
        position: relative;
        font-family: "OctoberTamil";
        @media only screen and (max-width: 900px) {
            font-size: 1rem;
        }
        @media only screen and (max-width: 575px) {
            margin-top: 0px;
        }
    }
    
    .footer-col .separation {
        display: inline-block;
        background-color: var(--secondary-color);
        height: 2px;
        width: 50px;
        margin-bottom: 25px;
    }
    
    // Réseaux sociaux
    .social-links a {
        display: inline-block;
        color: var(--secondary-color);
        transition: all 0.5s ease;
    }
    
    .social-links a:not(:last-child) {
        margin: 0 20px 10px 0;
    }
    
    .social-links a:hover {
        color: var(--primary-color);
        scale: 1.2;
    }
    
    .logo {
        width: 30px;
        height: 30px;
        @media only screen and (max-width: 900px) {
            width: 24px;
            height: 24px;
        }
    }
    
    // Newsletter
    .newsletter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    input {
        margin-top: 20px;
        border-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 200px;
        height: 50px;
        padding: 15px;
        outline: none;
        border: 1px solid var(--secondary-color);
        font-family: "GilroyRegular";
        background-color: var(--white-color);
        color: var(--primary-color);
        @media only screen and (max-width: 900px) {
            font-size: 0.7rem;
            padding: 10px;
        }
    }
    
    input:focus {
        border: 2px solid var(--primary-color);
    }
    
    .btnsend {
        padding: 15px;
        height: 50px;
        width: auto;
        background-color: var(--white-color);
        color: var(--primary-color);
        border: 1px solid var(--secondary-color);
        border-radius: 20px;
        margin-top: 20px;
        margin-left: -40px;
        font-family: "GilroyBold";
        @media only screen and (max-width: 900px) {
            font-size: 0.7rem;
            padding: 10px;
        }
        @media only screen and (max-width: 1149px) and (min-width: 768px) {
            margin-left: 0px;
        }
    }
    
    .btnsend:hover {
        background-color: var(--secondary-color);
        color: var(--white-color);
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    // Listes
    .sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: "GilroyRegular";
    }
    
    // info
    .copyright {
        margin-top: 15px;
    }
    
    .mentionslegales {
        margin-top: 10px;
         :hover {
            color: var(--secondary-color);
            cursor: pointer;
        }
    }
    
    // responsive
    @media(max-width: 767px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    
    @media(max-width: 575px) {
        .footer-col {
            width: 100%;
        }
    }