    // Footer
    .footer {
        background-color: var(--primary-color);
        bottom: 0;
        left: 0;
        width: 100%;
        @media screen and (max-width: 575px) {
            text-align: center;
        }
    }
    
    .footer-col {
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-col h4 {
        font-size: 1.2rem;
        color: var(--white-color);
        margin-bottom: 30px;
        margin-top: 30px;
        position: relative;
        font-family: "OctoberTamil";
    }
    
    .footer-col h4::before {
        content: '';
        position: absolute;
        bottom: -6px;
        background-color: var(--secondary-color);
        height: 2px;
        box-sizing: border-box;
        width: 55px;
        @media screen and (min-width: 576px) {
            left: 0;
        }
    }
    
    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col ul li a {
        font-size: 1rem;
        text-transform: capitalize;
        color: var(--white-color);
        text-decoration: none;
        transition: all 0.3s ease;
    }
    
    .footer-col ul li a:hover {
        color: var(--secondary-color);
        padding-left: 10px;
    }
    
    // Encadré
    .container {
        position: relative;
        margin-top: 0;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    ul {
        list-style: none;
    }
    
    .text {
        color: var(--white-color);
        font-family: "GilroyRegular";
    }
    
    // Boutons téléchargement app
    .app-btn {
        display: inline-block;
        padding: 0.3rem 1rem;
        padding-left: 3rem;
        background-position: center left 0.75rem;
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        text-decoration: none;
        border-radius: 15px;
        background-color: var(--white-color);
        margin: 20px 10px 10px 0;
    }
    
    .app-btn .app-button-title {
        display: block;
        color: var(--primary-color);
        font-size: 1rem;
        font-family: "GilroyMedium";
    }
    
    .app-btn .app-button-subtitle {
        display: block;
        color: var(--primary-color);
        font-size: 0.75rem;
        font-family: "GilroyMedium";
    }
    
    .app-btn:hover {
        background-color: var(--secondary-color);
        transition: all 0.5s ease;
    }
    
    .apple-btn {
        background-image: url("../../../src/assets/apple_store.png");
    }
    
    .google-btn {
        background-image: url("../../../src/assets/google_play.png");
    }
    
    // Réseaux sociaux
    .social-links a {
        display: inline-block;
        margin: 0 20px 10px 0;
        color: var(--white-color);
        transition: all 0.5s ease;
    }
    
    .social-links a:hover {
        color: var(--secondary-color);
        scale: 1.2;
    }
    
    .logo {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }
    
    // Newsletter
    .newsletter {
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 575px) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    input {
        margin-top: 20px;
        border-radius: 10px;
        height: 50px;
        padding: 15px;
        border-color: transparent;
        font-family: "GilroyRegular";
    }
    
    .btnsend {
        padding: 15px;
        height: 50px;
        width: auto;
        background-color: var(--secondary-color);
        color: var(--white-color);
        border-radius: 10px;
        margin-top: 20px;
        margin-left: 10px;
        border-color: transparent;
        font-family: "GilroyMedium";
        @media screen and (max-width: 1294px) {
            margin-left: 0px;
        }
    }
    
    .btnsend:hover {
        background-color: var(--white-color);
        color: var(--secondary-color);
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    // Listes
    .sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: "GilroyRegular";
    }
    
    // Flèche pour remonter
    .btn-arrow-up {
        color: var(--white-color);
        border-radius: 50px;
        background-color: transparent;
        border-color: transparent;
        position: absolute;
        margin-top: -5px;
        right: 0;
        margin-right: 50px;
    }
    
    .btn-arrow-up:hover {
        color: var(--secondary-color);
        cursor: pointer;
        transition: all 0.5s ease;
    }
    
    // Encadré sous le footer
    .subfooter {
        background-color: black;
        color: var(--white-color);
        text-align: center;
        padding: 20px;
        margin-top: 20px;
    }
    
    // responsive
    @media(max-width: 767px) {
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    
    @media(max-width: 575px) {
        .footer-col {
            width: 100%;
        }
    }