.pillars-container {
    height: auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white-color);
    margin-inline: 10vw;

    .pillars-title {
        font-family: "GilroyBold";
        font-size: 2.4rem;
    }

    .pillars-description {
        margin-top: 20px;
        font-size: 1.4rem;
        font-family: "GilroyRegular";
        text-align: justify;
    }

    .pillars-content {
        margin-top: 10px;
        margin-inline: 2vw;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;

        .pillars-all-names {
            width: auto;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .pillars-case {
                width: auto;
                height: auto;
                border-radius: 15px;
                padding: 10px 12px;
                &:hover {
                    background-color: var(--secondary-color);
                    cursor: pointer;
                }
                &:active {
                    background-color: var(--secondary-color);
                }

                .pillars-name {
                    margin-top: 2px;
                    text-align: center;
                    font-size: 0.9rem;
                    font-family: "GilroyRegular";
                }
            }
        }

        .pillars-info {
            margin-top: 10px;
            width: auto;
            height: 65vh;
            border-radius: 15px;
            position: relative;

            .pillars-video {
                border-radius: 15px;
                z-index: 1;
            }

            .pillars-button {
                width: 50px;
                height: 50px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                border: 2px solid var(--white-color);
                border-radius: 500px;
                color: var(--white-color);
                padding: 5px 5px 5px 8px;

                &:hover {
                    color: var(--secondary-color);
                    border-color: var(--secondary-color);
                    cursor: pointer;
                }
            }
            
            .pillars-reference {
                height: auto;
                width: auto;
                padding-inline: 3vw;
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .pillars-reference-logo {
                    height: 70px;
                    width: 70px;
                }

                .pillars-reference-text {
                    height: auto;
                    width: auto;
                    margin: auto;
                    
                    margin-left: 2vw;
                    font-size: 0.9rem;
                    font-family: "GilroyRegular";
                    z-index: 10;
                }
                
            }
        }
    }
}