.cardbis {
    height: auto;
    width: 15vw;
    max-width: 450px;
    min-width: 250px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: var(--lightGray-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    .coachbis {
        max-height: 50%;
        .picturebis {
            height: 260px;
            width: 100%;
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
            object-fit: cover;
        }
        .type-classbis {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            font-family: "GilroyBold";
            color: black;
            font-size: 1rem;
            padding: 10px;
        }
        .with-coach {
            font-size: 0.7rem;
            padding: 10px;
            color: var(--primary-color);
            font-family: "GilroyMedium";
        }
        .separationbis {
            display: inline-block;
            background-color: black;
            height: 2px;
            width: 50px;
            margin-bottom: 12px;
        }
        .namebis {
            font-family: "GilroyBold";
            color: black;
            font-size: 1rem;
            margin-top: -10px;
        }
    }
    .logobis_background {
        width: 100%;
        height: auto;
        background-color: var(--white-color);
        position: relative;
        z-index: 10;
        .demi-background {
            background-color: var(--lightGray-color);
            height: 50%;
            width: 100%;
            position: absolute;
            z-index: -10;
        }
        .logobis {
            height: 26px;
            width: 26px;
            margin: auto;
            margin-top: 6px;
            border-radius: 100%;
            border: 1px solid var(--secondary-color);
            background-color: var(--white-color);
        }
    }
    .bottombis {
        background-color: var(--white-color);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 15px 10px 15px;
        margin-top: -5px;
        z-index: 10;
        .datebis {
            font-family: "GilroyRegular";
            color: var(--primary-color);
            font-size: 0.8rem;
            margin-top: 2px;
        }
        .places-left {
            font-family: "GilroyMedium";
            color: var(--secondary-color);
            font-size: 0.9rem;
        }
    }
}