.ContactSectionStyle{
    h1 {
        color: var(--secondary-color); 
        font-family: var(--font-base);
        font-size: 300%;
        text-align: center;
    }
    
    h2 {
        color: var(--white-color);
        font-family: var(--font-base);
        font-style: italic;
        text-align: center;
    }
    
    h3 {
        margin-top: 2rem;
        font-family: var(--font-base);
        color: var(--white-color);
        font-style: italic;
        text-align: justify;
    }
}



.image {
    width:100%;
    height: 60%;
    object-fit: cover;
}

.right{
    form {
        width: 100%;
      .form-group {
        width: 100%;
        margin-bottom: 2rem;
      }
      label {
        font-family: var(--font-base);
        font-size: 1.8rem;
        color: var(--white-color);
      }
      input {
        width: 100%;
        font-family: var(--font-base);
        font-size: 1rem;
        padding: 1rem;
        color: var(--primary-color);
        background-color: var(--lightGray-color);
        outline: none;
        border: none;
        border-radius: 10px;
        margin-top: 1rem;
      }
      textarea {
        width: 100%;
        font-family: var(--font-base);
        font-size: 1rem;
        padding: 1.2rem;
        color: var(--primary-color);
        background-color: var(--lightGray-color);
        outline: none;
        border: none;
        border-radius: 10px;
        margin-top: 1rem;
        min-height: 250px;
        resize: vertical;
      }
      button[type='submit'] {
        background-color: var(--secondary-color);
        color: var(--white-color);
        font-family: var(--font-base);
        font-size: 2rem;
        display: inline-block;
        outline: none;
        border: none;
        padding: 1rem 4rem;
        border-radius: 10px;
        cursor: pointer;
      }
    }
}


.ContactSectionStyle {
    padding: 0rem 0;
    .contactSection__wrapper {
        display: flex;
        gap: 5rem;
        margin-top: 7rem;
        justify-content: center;
        position: relative;
    }
    .contactSection__wrapper::after {
        position: absolute;
        content: '';
        width: 2px;
        height: 86%;
        background-color: var(--secondary-color);
        left: 50%;
        top: 42%;
        transform: translate(-50%, -50%);
    }
    .left {
        padding: 0 15px;
        width: 100%;
        max-width: 500px;
    }
    .right {
        padding: 0 15px;
        width: 100%;
        max-width: 500px;
    }
   
    @media only screen and (max-width: 768px) {
        .contactSection__wrapper {
          flex-direction: column;
        }
        .contactSection__wrapper::after {
          display: none;
        }
        .left,
        .right {
          max-width: 100%;
        }
        .right {
          padding: 4rem 2rem 2rem 2rem;
        }
      }
}

