.card-class-container {
     :hover {
        cursor: pointer;
    }
}

.card {
    height: auto;
    width: 14vw;
    max-width: 450px;
    min-width: 250px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: var(--primary-color);
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    @media only screen and (max-width: 900px) {
        width: 25vw;
        max-width: 300px;
        min-width: 100px;
    }
    .coach {
        max-height: 50%;
        .picture {
            height: 260px;
            width: 100%;
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
            object-fit: cover;
            @media only screen and (max-width: 900px) {
                height: 150px;
            }
        }
        .type-class {
            position: absolute;
            font-family: "GilroyMedium";
            font-size: 0.9rem;
            padding: 5px 10px;
            border-radius: 10px;
            top: -10px;
            margin-left: 5%;
            margin-right: 5%;
            @media only screen and (max-width: 900px) {
                font-size: 0.6rem;
                top: -6px;
            }
        }
        .expert {
            background-color: var(--secondary-color);
            color: white;
        }
        .student {
            background-color: var(--gray-color);
            color: white;
        }
        .pro {
            background-color: #282828;
            color: white;
        }
        .pillar {
            font-size: 0.8rem;
            padding: 10px;
            color: var(--white-color);
            font-family: "GilroyLight";
            margin-top: -5px;
            @media only screen and (max-width: 900px) {
                font-size: 0.7rem;
            }
        }
        .separation {
            display: inline-block;
            background-color: var(--white-color);
            height: 1px;
            width: 50px;
            margin-bottom: 12px;
            @media only screen and (max-width: 900px) {
                width: 30px;
            }
        }
        .name {
            font-family: "GilroyMedium";
            color: var(--white-color);
            font-size: 1rem;
            margin-top: -7px;
            @media only screen and (max-width: 900px) {
                font-size: 0.8rem;
            }
        }
    }
    .logo_background {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 10;
        margin-top: 30px;
        .logo {
            padding: 1px;
            height: 26px;
            width: 26px;
            margin: auto;
            margin-top: -13px;
            border-radius: 100%;
            background-color: var(--lightGray-color);
            border: 1px solid var(--white-color);
        }
        .expert {
            background-color: var(--secondary-color);
        }
        .student {
            background-color: var(--gray-color);
        }
        .pro {
            background-color: black;
        }
    }
    .bottom {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding: 0 15px 10px 15px;
        z-index: 10;
        margin-top: -6px;
        .center-column {
            display: flex;
            justify-content: center;
            flex-direction: column;
            .principal-info {
                font-family: "GilroyBold";
                color: var(--white-color);
                font-size: 0.9rem;
                margin-inline: 2px;
                @media only screen and (max-width: 900px) {
                    font-size: 0.6rem;
                }
            }
            .secondary-info {
                font-family: "GilroyRegular";
                margin-top: 2px;
                color: var(--white-color);
                font-size: 0.7rem;
                margin-inline: 2px;
                @media only screen and (max-width: 900px) {
                    font-size: 0.5rem;
                }
            }
        }
    }
    .expert {
        background-color: var(--secondary-color);
    }
    .student {
        background-color: var(--gray-color);
    }
    .pro {
        background-color: black;
    }
}